#img-react{
    align-items: left;
    width: 35%;
    height: 100%;
    margin-top: 0%;
}
#nav{
    background-color: rgb(20, 12, 138);
    display: flex;
    
}
#titulo{
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: 2.3rem;
    align-items: left;
    color: white;
}

#busqueda{
    display: flex;
    margin-left: 12rem;
    justify-content: flex-end;
    margin-top: 2.5rem;    
}
#botonEnviar{
    color: black;
    background-color: white;
    border-radius: 5px;
   
}
 #botonEnviar:hover{
    cursor: pointer; 
    color: blue;    
    background-color: rgba(196, 194, 194, 0.993);   
}

@media (max-width: 575px){
    #nav{
        width: 100%
    }

    #img-react{
      width: 100%;
    }
    #titulo{
       width: 10px;
       font-size: 1rem;
    }
     #busqueda{
         width: 25%;
     }
     #inputBuscar{
         width: 8rem;
     }
     .form-searchbar{
         width: 70%;
     }

     
 }
 
 
 @media (min-width: 576px) and (max-width: 767px){
    #nav{
        width: 100%
    }
    #busqueda{
        margin-left: 18rem;
    }
    #img-react{
      width: 80%;
    }
    #titulo{
       width: 10px;
       font-size: 2rem;
    }
     #busqueda{
         width: 25%;
     }
     #inputBuscar{
         width: 8rem;
     }
     .form-searchbar{
         width: 70%;
     }
 }
 
 
 @media (min-width: 768px) and (max-width: 991px){
    #img-react{
        width: 100%;
    }
    #titulo{
        width: 22rem;
        font-size: 2.5rem;
        margin-left: 3rem;
     }

     #busqueda{
        width: 40%;
    }

 }
 
 
 
  
